* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.card {
  background-color: white;
  max-width: 750px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 16px;
  padding-bottom: 8px;
  margin-top: 56px;
  margin-left: -16px;
  margin-bottom: 48px;
}

.intro-chunk {
  width: fit-content;
  max-width: 330px;
  padding-bottom: 32px;
  padding-top: 64px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 24px;
  margin-top: -8px;
  margin-left: -24px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.title {
  padding-bottom: 16px;
}
